# Created by .ignore support plugin (hsz.mobi)
*.log
*.ctxt
.mtj.tmp/
#*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
*.apk
*.ap_
*.dex
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
.navigation/
captures/
*.iml
*.jks
.externalNativeBuild
google-services.json
freeline.py
freeline/
freeline_project_description.json
.idea/
